// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
  background-color: lightgrey;
  border-bottom: 1px solid grey;
}

.navbar a {
  border-bottom: 0;
}

i {
  font-size: 16px;
  color: blue;
  margin: 5px;
}
